body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding-top: 100px;
}

input {
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: white;
    color: #667eea;
    font-size: 16px;
}

.center {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.box {
    background: rgba(255,255,255,0.2);
    padding: 20px;
    width: 180px;
    border-radius: 15px;
}

.card {
    background: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    text-align: center;
}
.card input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.card button {
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
